body{  background-color:#A9B388;
    opacity: 0.9}
p{ 
    color:rgba(0, 0, 0, 0.945);
    font-family: "Times New Roman", Times, serif;
    font-weight:bold;
    font-size: 35px;
}
hr{border-bottom-color:rgb(0, 0, 0);border-width:2px;}
h2{
    color:rgb(4, 73, 4);
    font-family: "Times New Roman", Times, serif;
     text-transform:uppercase;
     font-weight:bold; 
    font-size: 50px;     
    }

     li{text-align:left;
        color:rgba(255, 255, 255, 0.945);
    font-family: "Times New Roman", Times, serif;
    font-weight:bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e1a27;
}

li {
    display: inline-block;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #f39c12;
        }

ul li ul {
    background-color: #2c3e50;
    display: none;
    position: absolute;
    width: 100px;
}

ul li:hover ul {
    display: block;
}

li ul li {
    display: block;
}

